---
layout: ./page_layout.hbs

---
{{#each placards}}
    <div class="placard">
        <header>
            <div class="text">
                Citroën Rendezvous
            </div>
            <div class="logo">
                <img src="/img/citroen_old_logo.png" />
            </div>
            <div class="text">
                Saratoga Springs 2024
            </div>
        </header>
        <div class="datum">
            <span class="label">Entry Number:</span><span class="value">{{this.index}}</span>
        </div>
        <div class="datum">
            <span class="label">Category:</span><span class="value">{{this.category}}</span>
        </div>   
        <div class="datum">
            <span class="label">Vehicle:</span><span class="value">{{this.year}} {{this.marque}} {{this.model}}</span>
        </div>
        <div class="datum">
            <span class="label">Owner:</span><span class="value">{{this.full_name}}</span>
        </div>
    </div>
{{/each}}